body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

.note-mover {
  cursor: move;
}

.note {
  background-color: white;
  border: 1px solid lighten(black, 10%);
  box-shadow: 2px 2px 2px 2px transparentize(gray, .3);
  padding: 1em;
  display: grid;
  position: absolute;
  font-family: "Indie Flower", cursive;
  Textarea {
    font: inherit;
  }
}

.noteTitleBar {
  font-size: 20px;
  font-family: "Robert", sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  .fa-trash-o, .fa-pencil {
    padding: 4px;
    cursor: pointer;
  }
}

.resize{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

#app {
  display: flex;
  flex-flow: column;
}

#note-bar {
  margin: auto;
  input, button {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border: 1px solid gray;
  }
  input{
    width: 100vh;
  }
  button{
    border-left: none;
    transition-property: all;
    transition-duration: .4s;
  }
  button:hover{
    cursor: pointer;
    background-color: lighten(green, 50%);
  }
}

#notesSet {

}
